# Ignore node_modules directory
node_modules

# Ignore Python virtual environments
venv
env
__pycache__
paprocessing_env

# Ignore Git files
.git
.gitignore

# Ignore Docker files
.dockerignore
Dockerfile
# Ignore other unnecessary files and directories
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
